
.textbox{
    margin-left: 40px;
    margin-right: 40px;


}

.title_brownie{
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Audrey";
}

.ai_text{
    color:darkred;
}